body {
    font-family: math;
}
header{
    background-color: rgba(158, 167, 45, 0.973);
    position: relative;
    /*relative: Quando si applica position: relative a un elemento,
     il suo posizionamento viene calcolato rispetto alla sua posizione originale nel flusso del documento. 
     L'elemento conserva lo spazio che occuperebbe nel flusso normale della pagina, anche se è spostato utilizzando le proprietà top, bottom, 
     left o right.*/
}
header h2{
    margin-left: 570px;
    position: absolute;
    top: 2px;
    font-size:35px;
    font-weight:500; /* Font più sottile */
    color: rgba(60, 77, 54, 0.959);
    /*absolute: Quando si applica position: absolute a un elemento, il suo posizionamento viene calcolato rispetto al primo elemento genitore posizionato o all'elemento radice (<html>). 
    L'elemento viene quindi rimosso dal flusso normale della pagina e sovrapposto agli altri elementi. 
    Puoi utilizzare le proprietà top, bottom, left e right per specificare la posizione esatta dell'elemento rispetto al suo genitore posizionato.*/
}
header img{
    width: 200px; /* Imposta la larghezza desiderata dell'immagine */
    height: auto; 
}
header form{
    position: absolute;
    top: 120px;
    margin-left: 590px;
}
main section1 h1{
    font-size: 27px;
    margin-left: 50px;
    margin-top: 25px;
}
main section1 h2{
    font-size: 27px;
    margin-left: 50px;
    margin-top: 20px;
}
#immagine1 {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}
#immagine1 img{
    margin-left: 130px;
    margin-top: 70px;
    width: 50%;
    height: auto;
}
.right-section {
margin-left: 260px;
margin-top: 30px;
}
.right-section h1 {
font-size: 36px;
margin-left: 0px;
margin-top: 30px;
}
.right-section p1 {
font-size: 17px;
margin-left: 0px;
margin-top: 30px;
}
footer {
    margin-left: 450px;
    margin-top: 100px;
}